body,html{
    margin:0;
    padding:0;
}

.loopDiv{
    width:500px;
    height:300px;
    margin:0 auto;
    position:relative;
    border:3px solid black;
}

.spots_box{
    width:100px;
    height:20px;
    position:absolute;
    bottom:5px;
    left:50%;
    margin-left:-50px;
    z-index:2;
}

.spots{
    width:10px;
    height:10px;
    border-radius:5px;
    background:#aaa;
    display:inline-block;
    margin:2px;
}

.arrow{
    width:30px;
    height:50px;
    position:absolute;
    background-color:grey;
    opacity:0.5;
    z-index:2;
    font-size:2em;
    font-weight:bold;
    line-height:50px;
    text-align:center;
}

.arrow_left{
    left:0;
    top:125px;
}

.arrow_right{
    right:0;
    top:125px;
}